{% extends "base.html.twig" %}

{% block title %} Todo App {% endblock %}
{% block body %}
    {% if todos | length == 0 %}
        No Todos for now
    {% else %}
    <div class="row">
        <div class="accordion" id="accordionExample">
            {% for todo in todos %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne{{ loop.index }}">
                        <span class="status {% if todo.status == 'pending' %} done {% endif %}"></span>
                        <span class="todoname">{{ todo.name }}</span>
                    </button>
                </h2>
                <div id="collapseOne{{ loop.index }}" class="accordion-collapse collapse {% if loop.first %} show {% endif %}" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ todo.description }}
                        <br>
                        <span>Date: {{ todo.dateCreation | date("m/d/Y") }}</span>
                        <hr>
                        <ul class="nav" style="display: flex">
                            <li ><a href="/edit/{{ todo.id }}">Edit</a></li>
                            <li style="margin: 0 30px;"><a href="/edit/{{ todo.id }}">Close</a></li>
                            <li><a href="/delete/{{ todo.id }}">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
